body{
    background-color: rgb(234, 227, 227);
    text-align: center;
}

p, h1, h2{
    font-size: 40px;
    color: black;
}


.boton{
    background-color: yellowgreen;
    font-size: 40px;
}

.botones{
    background-color:white;
    color: black;
}

.formulario{
    text-align: left;
}